@import "frappe/public/scss/variables";

{%- if google_font %}
@import url('https://fonts.googleapis.com/css?family={{ google_font }}:{{ font_properties }}&display=swap');
$font-family-sans-serif: "{{ google_font }}", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
{% endif %}

{% if text_color %}$body-color: {{ text_color }};{% endif %}
{% if background_color %}$body-bg: {{ background_color }};{% endif %}
{% if font_size %}$font-size-base: {{ font_size }};{% endif %}

$theme-colors: (
    "primary":    {{ primary_color or '$primary' }},
    "light":      {{ light_color or '$light' }},
    "dark":       {{ dark_color or '$dark' }},
);

$enable-shadows: {{ enable_shadows and "true" or "false" }};
$enable-gradients: {{ enable_gradients and "true" or "false" }};
$enable-rounded: {{ enable_rounded and "true" or "false" }};

{% if '\n@import "frappe/public/scss/website"' not in custom_scss %}
@import "frappe/public/scss/website";
{% endif %}

{% if custom_scss %}
{{ custom_scss }}
{% endif %}
